  .searchBar {
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    margin: 5px;
  }
  
  .input {
    background-color: rgb(197, 183, 104);;
    border-color: rgb(24, 24, 24);
    height: 18px;
    color: rgb(24, 24, 24);
    font-size: 1rem;
    font-weight: 300;
    width: 15rem;
  }

  input::placeholder {
    color: rgb(24, 24, 24);
  }
  
  .btn {
    margin-left: 8px;
    border-radius: 5px;
    border: solid 2px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 183, 104);
    transition: background-color 0.25s;
    cursor: pointer;
    color: rgb(24, 24, 24);
  }

  .btn:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(197, 183, 104);
  }